@using Boosterproject.Models

@{
    ViewData["Title"] = "Clickjacking";
}
<h2>@ViewData["Title"].</h2>

<p>This is a sample page with a button used to demonstrate clickjacking.</p>
<br><br>
<p style="color:green; font-weight:bold">Database has been successfully deleted.</p>


